body{
	margin:0px;
}
#header{
height: 100px;
width: 100%;
position:absolute;
top:0px;left: 0px;
}
#animations div{
	cursor:pointer;
	background-color: #666;
	border-radius: 5px;
	color:#fff;
	margin: 3px;
	font-family:arial;
	font-size: 12px;
	padding: 2px;
	text-shadow: 0px 1px 0px #000;
}
#animations h2{
	font-family:arial;
	font-size: 20px;
	width: 135px;
	padding: 3px;
	background-color:#333;
	color: #fff;
	border-radius: 5px;
	margin: 5px;
	text-align: center;
	margin-top: 20px;
}
#title{
	height: 37px;
	background-color: rgba(0,0,0,0.5);
	color:#555;
	text-align:center;
	font-family: arial;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.25, rgba(128,128,128,0.8)),
	    color-stop(1, rgba(204,204,204,0.8))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgba(128,128,128,0.8) 25%,
	    rgba(204,204,204,0.8) 100%
	);
	text-shadow: 0px 1px 0px #ccc;
	-moz-box-shadow: 0px 5px 5px #333;
	-webkit-box-shadow: 0px 5px 5px #333;
	box-shadow: 0px 5px 5px #333;
}
h1,h2{margin:0;font0family:arial}
h1 small{
	font-size: 16px;
}
h1{padding-top: 5px; font-size: 24px;}
#credit{
	font-family:arial;
	font-size: 11px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 5px;
	height: 150px;
	width: 150px;
	padding: 5px;
	position:absolute;
	bottom: 10px;
	right: 10px;
	color: #ccc;
}