<html>
<head>
<title>Fabricate.IO ISS Tracker</title>
<div style="display:none" id="tle_div"> 
{{ tle }}
</div>
<script type="text/javascript" src="/static/js/glge-compiled-min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<canvas id="canvas" width="500" height="500"></canvas>
<div id="header">
    <div id="animations" style="width: 165px">
        <div id="sat1_position">
            <div>&lt;space&gt; to change view</div>
            <div class="alt">ALT: <span id="ALT"></span></div>  
            <div class="vel">VEL: <span id="VEL"></span></div>  
            <div class="lat">LAT: <span id="LAT"></span></div>  
            <div class="lon">LON: <span id="LON"></span></div>  
            <div class="fps">FPS: <span id="FPS"></span></div>
            <div>A demo by <a href="http://fabricate.io">Fabricate.IO</a></div>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/static/js/SGP4.js"></script>
<script src="/static/js/camera.js"></script>
<script src="/static/js/geometry.js"></script>
<script src="/static/js/satellite.js"></script>
<script src="/static/js/planets.js"></script>
<script src="/static/js/display.js"></script>
<script>
var canvas = document.getElementById( 'canvas' );
canvas.width=innerWidth;
canvas.height=innerHeight;
var renderer = new GLGE.Renderer( canvas );
var XMLdoc = new GLGE.Document();

var FPSdiv = document.getElementById("FPS");
var Altdiv = document.getElementById("ALT");
var Vdiv = document.getElementById("VEL");
var Latdiv = document.getElementById("LAT");
var Londiv = document.getElementById("LON");
var ISS;
var ISSinfo;
var SunMoon;
var TLE_text;
var scene;
var camera;
var cameraTargetFuncs;
var target_index = 0;

//Note: no race conditions - javascript is single-threaded.
var loaded = {"xml": false, "tle": false, "jquery": false};
var checkLoaded = function() {var l = true; for (x in loaded) l &= loaded[x]; if (l) setupScene();};
XMLdoc.onLoad = function() {loaded["xml"] = true; checkLoaded();};
var onTLE = function(data) {TLE_text = data; loaded["tle"] = true; checkLoaded();};
$(function() {loaded["jquery"] = true; checkLoaded()}); //check jQuery

function setupScene() {
    scene = XMLdoc.getElement( "mainscene" );	
    ISS = new Satellite(TLE_text, XMLdoc.getElement("ISS"), scene);
    //ISSinfo = XMLdoc.getElement("ISSinfo");
	
    //Each view of the form [name, min_distance, func_to_get_center_xyz]
    cameraViews = [["Earth", GEOM.EARTH_RAD_MI / GEOM.MI_PER_U, function(){return [0,0,0];}], 
                   ["ISS",   0.00001702922,                 function(){return ISS.xyz;}], 
                   ["Moon",  GEOM.MOON_RAD_MI  / GEOM.MI_PER_U, function(){return SunMoon.moonXYZ;}]
                  ];
    camera = new Camera(XMLdoc.getElement("mainCamera"), cameraViews, canvas);
    
    //Localize camera to ISS position
    var ISSpos = ISS.predictPos();
    camera.setSpr(ISSpos.latitude * Math.PI/180, ISSpos.longitude * Math.PI/180, 10);
    
    
    SunMoon = new ExtraBodies({"moon": XMLdoc.getElement("moon"), "light": XMLdoc.getElement("light")}, scene);
	renderer.setScene(scene);
	renderer.render();
	tick();
    
}


var lasttime =+new Date;
var lastFPS = lasttime;
var tick = function(){
    requestAnimFrame(tick);
    var now=+new Date;
    renderer.render();
    
    ISS.update(lasttime, now);
    SunMoon.update(lasttime, now);
    camera.update(lasttime, now);
    //ISSinfo.setText(readoutFromSGP4(ISS.predictPos()));
    
    if (now - lastFPS > 1000)
    {
        FPSdiv.innerHTML = Math.floor(1000 / (now-lasttime));
        lastFPS = now;
        
        var issData = readoutFromSGP4(ISS.predictPos());
        Altdiv.innerHTML = issData['alt'];
        Vdiv.innerHTML = issData['v'];
        Latdiv.innerHTML = issData['lat'];
        Londiv.innerHTML = issData['lon'];
    }
    lasttime=now;
};

XMLdoc.load("/static/models/world.xml");
onTLE((document.getElementById("tle_div").innerHTML).trim());


</script>
</body>
</html>
